:host(.tt-spreadsheet-grid) [part~="tt-spreadsheet-tilted-header-cell"] {
	background: transparent;
	overflow: visible;
	z-index: 1;
}

:host(.tt-spreadsheet-grid) [part~="tt-spreadsheet-tilted-header-cell"] ::slotted(vaadin-grid-cell-content) {
	background: transparent;
	overflow: visible;
	text-overflow: clip;
}
